<% provide(:title, @user.name) %>
<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>
<div class="row">
    <aside class="span4">
        <section>
        	<h3>Personal Details: </h3>
            <h4>Name: <%= @user.name %></h4>
            <h4>Email: <%= @user.email %></h4><%= link_to "Manage Account", edit_user_path, class: "btn btn-large btn-primary" %>
            <h3>Gym Details: </h3>
          <% unless @user.gym.nil? %>  
       		  <h4>Gym Name: <%= @user.gym.name %></h4>
       		  <h4>Gym Location: <%= @user.gym.street %> <%= @user.gym.city %> <%= @user.gym.state %> <%= @user.gym.zip_code %></h4>
          <% end %>
          <%= link_to "Manage Fitness Center", new_gym_path, class: "btn btn-large btn-primary" %>
       		<h3>Schedule Details: </h3>
       		<% unless @user.schedule.nil? %>  
            <h4>Availability: <%= @user.schedule.availability %></h4>
          <% end %>
          <%= link_to "Manage Schedule", edit_schedule_path, class: "btn btn-large btn-primary" %>
        </section>
    </aside>
</div>


