<% provide(:title, 'Edit Fitness Center') %>
<h1>Add Fitness Center</h1>
<div class="row">
    <div class="span6 offset3">
        <%= form_for(@gym) do |f| %>
            <%= f.label :name %></br>
            <%= f.text_field :name %></br></br>

            <%= f.label :street %></br>
            <%= f.text_field :street %></br></br>

            <%= f.label :city %></br>
            <%= f.password_field :city %></br></br>

            <%= f.label :state %></br>
            <%= f.password_field :state %></br></br>

            <%= f.label :zip_code %></br>
            <%= f.password_field :zip_code %></br></br>

            <%= f.submit "Update Fitness Center", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>
