
<% provide(:title, 'Select Fitness Center') %>
<h1>Select Fitness Center</h1>

<h3>Select a fitness center from the dropdown menu below:</h3>

<div class="row">
    <div class="span6 offset3">
        <%= form_for @gym, url: "/user/joingym", method: "post" do |f| %>
            <%= f.label :name %></br>
             <% gyms = Gym.all.map {|gym| [gym.name, gym.id] }%>
             <%= f.select(:name, gyms)  %> </br></br>
             <%= f.submit "Add Fitness Center", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>
</div>

<h3>Or, click the following button to search for your gym</h3>
<%= link_to "Search for Fitness Center", add_path, class: "btn btn-large btn-primary" %>
